.recipe {
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  background: #fff;
  &.dark {
    background: #555;
    color: #e4e4e4;
    li {
      color: #aaa;
    }
  }
  & ul {
    display: flex;
    padding: 0;
    justify-content: center;
    margin-top: 0;
  }
  & li {
    list-style-type: none;
    margin-right: 10px;
    color: #777;
  }

  & li::after {
    content: ',  ';
  }
  & li:last-child::after {
    content: '. ';
  }
  button {
    font: inherit;
    color: inherit;
    background-color: inherit;
    font-size: 0.6em;
    font-style: italic;
    display: block;
    margin: 2em 1em 1em auto;
    padding: 0.5em;
  }
}

.method {
  text-align: left;
  line-height: 1.5em;
}
