.card {
  height: 100%;
  padding: 1em;
  line-height: 1.4;
  background: rgba(255, 255, 255, 0.81);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: transform 0.2s;
  &:hover {
    transform: rotate(-1grad) scale(1.05);
    transition: 0.2s;
  }
}
.card-title {
  text-align: center;
  margin: 0.48em;
}
