.card {
  background: rgba(255, 255, 255, 0.81);
  color: #333;
  padding: 1em;
  line-height: 1.4;
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease;
  position: relative;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  &:hover {
    transform: rotate(1deg) scale(1.05);
    transition: 0.2s;
  }
  & h3 {
    color: #555;
    margin-bottom: 6px;
  }
  & p {
    color: #999;
    font-size: 0.9em;
  }
  & a {
    color: #555;
    text-decoration: none;
    display: block;
    background-color: #e2e2e2;
    font-size: 0.9em;
    text-align: center;
    width: 120px;
    padding: 8px;
    border-radius: 4px;
    margin: 20px auto 0;
  }
  .snippet {
    color: #555;
    font-size: 0.7em;
    margin: 20px 0;
    line-height: 1.5em;
  }
  &.dark {
    background: #555;
    color: #e4e4e4;
    & p,
    & h3,
    & div {
      color: #e4e4e4;
    }
  }
}
