.theme-selector {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1200px;
  padding: 1%;
  margin: auto;
}
.theme-buttons div {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 15px;
  border-radius: 50%;
  &.dark {
    outline: 1px solid #aaa;
  }
}
.mode-toggle {
  margin-right: auto;
  & img {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    filter: invert(20%);
    &.dark {
      filter: invert(100%);
    }
  }
}
